<h1>Links index page</h1>

<table>
  <thead>
  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.link %></td>
      <td><%= link.description %></td>
      <td><%= link_to 'Show', link_path(link) %></td>
      <td><%= link_to 'Delete', link_path(link), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>